{%- block content -%}
  <div class="body">
    <table width="100%">
      <tr>
        <td><div class="body-title"><a href="/post/{% if post %}{{post.key().id()}}{% elif blog %}{{blog.key().id()}}{% endif %}">{% if post %}{{post.title}}{% elif blog %}{{blog.title}}{% endif %}</a></div></td>
        <td style="text-align: right"><div class="body-created">
          <p>{% if post %}{{post.created.strftime('%m.%d.%Y')}}{% elif blog %}{{blog.created.strftime('%m.%d.%Y')}}{% endif %}</p>
          <p>by <a href="/user/{% if post %}{{post.author.username}}{% elif blog %}{{blog.author.username}}{% endif %}">{% if post %}{{post.author.username}}{% elif blog %}{{blog.author.username}}{% endif %}</a></p>
          </div></td>
      </tr>
    </table>
    <table width="100%">
      <tr>
        <td><div class="body-body">
          {% if post %}{{post.body | replace('\n', '<br>' | safe)}}{% elif blog %}{{blog.body | replace('\n', '<br>' | safe)}}{% endif %}
        </div></td>
      </tr>
    </table>
  </div>
{%- endblock -%}
