{% extends "main.html" %}

  {%- block content %}
    <a href={{fakeBbArticle.link|safe}} target="_blank"><h3>{{fakeBbArticle.title}}</h3></a>
  {%- if fakeBbArticle.pubDate %}
    {{fakeBbArticle.pubDate}}
  {% endif %}
  {%- if fakeBbArticle.dcCreator %}
    {{fakeBbArticle.dcCreator}}
  {% endif %}
    {{fakeBbArticle.pic|safe}}
    <!-- <p><a href={{fakeBbArticle.comments}}>{{fakeBbArticle.comments}}</a></p> -->
    <h6 style="text-align:right; margin:0pt">article courtesy of <a href="http://thefakebaseball.com/">The Fake Baseball</a></h6>
    <hr style="margin-left: 30pt; margin-right: 30pt">
    <a href={{yahooArticle.link|safe}} target="_blank"><h3>{{yahooArticle.title}}</h3></a>
  {%- if yahooArticle.pubDate %}
    {{yahooArticle.pubDate}}
  {% endif %}
  {%- if yahooArticle.dcCreator %}
    {{yahooArticle.dcCreator}}
  {% endif %}
    {{yahooArticle.pic|safe}}
    <h6 style="text-align:right; margin:0pt">article courtesy of <a href="http://sports.yahoo.com/mlb/">Yahoo! Sports</a></h6>
    <hr>
    <p>blog</p>
{%- endblock %}
