{%- block content -%}
<br>
<table width="100%">
  <tr>
    <form {% if u %}action="\user\{{u}}"{% else %}action="\blog"{% endif %}>
      <td width="50%" style="text-align: center">
        {%- if page > 1 -%}<button name="page" value="{{page - 1}}">&lt;&lt;&lt;&nbsp;previous</button>{%- endif -%}
      </td>
      <td width="50%" style="text-align: center">
        {%- if page < lastPage -%}<button name="page" value="{{page + 1}}">next&nbsp;&gt;&gt;&gt;</button>{%- endif -%}
      </td>
    </form>
  </tr>
</table>
{%- endblock -%}
